* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 50vh;
    background: #131419;
}

#container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    border-radius: 20px;
    padding: 30px;
    box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
    position: relative;
    top: 110px;
    /* border: 6px solid transparent;
    border-image: linear-gradient(45deg,#ff0,#f0f,#f00,#00f,#0f0);
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0 0 0 0.2); */
}
 #startingPage {
    height: 590px;
    width: 353px;
}

#startingPage h2{
    font-size: 50px;
    background: -webkit-linear-gradient(120deg,#ff00f7,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#winner h2 {
    
    position: relative;
    top: 107px;
    text-align: center;
}

#startingPage #line {
    height: 1px;
    width: 100%;
    background: #c3cfdb;
    margin: 20px 0;
}

#startingPage h4 {
    font-size: 25px;
    color: #b9b9c5;
}

#startingPage #button {
    height: auto;
    width: 100%;
    margin: 180px 23px;
    display: flex;
    flex-direction: row;
    padding: 9px;
}

#button button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    /* background: #29cde0; */
    border: none;
    outline: none;
    color: #2b2d47;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#button button:first-child {
    margin-right: 40px;
}

#startingPage #button button:hover,
#winner #button button:hover {
    transform: scale(0.90);
}

#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#winner #button button {
    margin-top: 20px;
    background: -webkit-linear-gradient(120deg,#ff00f7,#00d0ff);
    
} 

#mainPage {
    height: 550px;
    width: 350px;
    padding: 20px;
    position: relative;
    /* display: none; */
}

#mainPage #headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 60px;
    width: 160px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 160px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    /* background: #29cde0; */
    z-index: 1;
    transition: 0.2s;
    background: -webkit-linear-gradient(120deg,#ff00f7,#00d0ff);
   
}

#gameBoard {
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: #c129e0;
}
#container::before,#container::after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00d0ff,#ff00f7,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 5px );
    height: calc(100% + 5px );
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0 0;

    }
    50%{
        background-position: 400% 0;
        
    }
    100%{
        background-position: 0 0;
        
    }
}
#container::after{
    filter: blur(40px);
}